#section-3 {
    background-color: #FFAACA;
    display: flex;
}

.texts-area {
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.content-3 {
    display: grid;
    margin-left: 200px;
}

.title-3 {
    font-size: 40px;
    font-weight: bold;
}

.description-3 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.button- {
    color: white;
}

.image-area {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-right: 10%;
}