*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
}

header{
    background-color: aqua;
    width: 100%;
    display: grid;
}

.top-container{
    background-color: rgb(255, 127, 159);
    display: flex;
    height: 100px;
    align-items: center;
}

.logo-div{
    background-color: blueviolet;
    margin-left: 300px;
}

.search-div{
    background-color: brown;
    margin-left: 120px;
}

.button-div{
    background-color: coral;
    margin-left: 12px;
}

.bottom-container{
    background-color: darkgoldenrod;
    display: flex;
    height: 70px;
    align-items: center;
    gap:500px;
    justify-content: space-evenly;
}

.menu{
    background-color: darkgreen;
    display: flex;
    gap: 40px;
    font-size: 16px;
    width: auto;
}

.text-delivery{
    background-color: darkred;
}